<div class="sertificate_text">
  <p>
    Вивчивши широкий спектр сучасних технологій в академії IStep, я здобула
    знання та практичні навички в області веб-розробки. Протягом річної програми
    отримала освіту, підкріплену можливістю отримати міжнародний диплом, що
    визнає мою експертизу в галузі веб-технологій. Моя експертиза охоплює HTML,
    CSS, JavaScript, jQuery, Bootstrap, React та Angular - ключові інструменти,
    необхідні для створення інтерактивних та сучасних веб-інтерфейсів. Здобуті
    знання в цих технологіях дозволяють мені не лише розуміти їхні принципи, а й
    успішно використовувати їх у практичному веб-програмуванні. Мої навички
    розробки включають створення сайтів-візитівок, що відзначаються креативним
    дизайном та ефективною інформаційною структурою. Крім того, я маю досвід
    розробки багатосторінкових веб-сайтів, які вимагають комплексного підходу до
    взаємодії користувача та оптимальної організації вмісту. Моя практика також
    охоплює роботу з API, що дозволяє ефективно взаємодіяти з різноманітними
    джерелами даних та інтегрувати їх у веб-додатки. Я готова застосовувати
    навички, отримані в академії IStep, для створення інноваційних веб-проектів
    та впровадження передових рішень у сфері веб-розробки.
  </p>
</div>
