h1,
p {padding: 20px;
text-align: center;
}
.about_me {
    display: flex;
}
.links {
    padding-left: 40px;
    padding-bottom: 20px;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 900;
}
a:hover{
    color: green;
}