<div class="container">
  <h1>{{ title | uppercase }}</h1>
  <p>
    Обладаю страстю до веб-розробки та великим бажанням розвиватися в сфері
    фронтенду. Забезпечую високу увагу
    до деталей та постійно прагну до вдосконалення своїх навичок у сфері
    фронтенд-розробки. Готова приєднатися до команди, яка сприяє творчому
    підходу та постійному самовдосконаленню.
  </p>
  <div class="about_me">
    <app-sertificate />
    <app-foto />
  </div>
  <div class="links">
    <ul>
        <li><a [href]="linkGh" target="_blank">GitHub</a></li>
        <li><a [href]="linkInst" target="_blank">Instagram</a></li>
        <li><a [href]="linkFb" target="_blank">Facebook</a></li>
    </ul>
  </div>

</div>
