@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.container {
 
    width: 85vw;
    margin: 0 auto;
    background-color: #e1fff5;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}